body {
    font-family: "Poppins";
    background-color: #fafafa;
}

/* Header */
header {
    text-align: center;
    background-color: #ffffff;
}

header .navbar{
    position: sticky;
    top: 0;
}


header .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #121212;
}

header .nav-item {
    display: flex;
    justify-content: center;
    gap: 10px;
}

header .nav-item a {
    font-size: 1rem;
    color: #121212;
    text-decoration: none;
    font-weight: 500;
}

header .nav-item .active {
    font-weight: 800;
}

header .nav-item a:hover {
    color: #ff5100;
}


.hero img {
    max-width: 400px;
}

@media screen and (max-width: 550px) {
    .hero img {
        max-width: 280px;
    }
    
}